{% extends "layout.html" %} {% load static %} {% block content %}

<div class="hakcont">
  <div class="hk1">
    <h2>Doğa Ve Tasarım İç İçe</h2>
  </div>
  <div class="hk2">
    <h1>XXXXXXX Hotel Hakkında</h1>
  </div>
  <div class="hk3">
    <p>
      Kapadokya Ortahisar kasabasında 2011 yılında başlayan bir projenin
      sonucunda, 8 eski kaya evin restorasyonunu tamamlayarak Hezen Cave Hotel’i
      hayata geçirdik. 17 kaya odasıyla, Kapadokya bölgesinin eşsiz tasarımına
      sahip benzersiz bir mağara oteli deneyimi sunuyoruz.
    </p>
  </div>
  <div class="hk4">
    <img src="{% static 'img/resim1.jpg' %}" alt="" width="300px" />
  </div>
</div>

<div class="kk">
  <div class="card5">
    <div class="icon">😊</div>
    <h2>Restorasyon Ve Tasarımın İç Yüzü</h2>
    <p>
      Bölgede binlerce yıllık tarihi koruma altına almayı hedefliyoruz. Odaların
      her birini farklı bir şekilde değerlendirip orijinal mağara dokusunu
      koruyarak restore ettik. İç tasarımda eklektik ve modern tarzları
      birleştirerek canlı renkler kullanarak yenilikçi bir atmosfer yarattık.
    </p>
  </div>

  <div class="card5">
    <div class="icon">🛏</div>
    <h2>Mağarada Uyuma Deneyimi</h2>
    <p>
      Eskilerin dediği gibi, “Bir gece mağara odasında uyumak, bir hafta beton
      binalarda uyumaktan daha fazla dinlendirir.” Doğal yapısıyla, kayanın
      sessizliği ve hatta elektromanyetik dalgaları bile engelleyen mağara
      odasında uyumak kendine özgü ve oldukça rahatlatıcı bir deneyim sunar.
    </p>
  </div>

  <div class="card5">
    <div class="icon">⛰</div>
    <h2>Muhteşem Manzaralı Teraslar</h2>
    <p>
      Ortahisar kasabasındaki yüksek konumu sayesinde otelimizin terasları, eski
      Ortahisar kalesi ve Balkandere Vadisi manzarasına hakimdir. Kapadokya’nın
      nefes kesen manzarasının tadını çıkarırken köyün huzurlu atmosferini
      yaşayın.
    </p>
  </div>

  <div class="card5">
    <div class="icon">😃</div>
    <h2>Huzurlu Ve Konforlu Butik Deneyimi</h2>
    <p>
      Biz Kapadokya’yı seviyoruz ve bunu sizinle paylaşmak istiyoruz. Kapadokya
      gezinizin en iyi şekilde geçmesi için ekibimiz size birebir ilgi gösterir
      ve bölge hakkında bilgi ve öneriler sunar. Sizi ev konforunun butik bir
      deneyimiyle buluşturma konusunda kararlıyız.
    </p>
  </div>

  <div class="card5">
    <div class="icon">🍳</div>
    <h2>Lezzetli Kahvaltı</h2>
    <p>
      Misafirlerimize en kaliteli kahvaltı deneyimini sunmayı amaçlıyoruz. Bu
      nedenle doğal ürünleri tercih ederek, Türk mutfağının zenginliğini
      yansıtan geniş bir kahvaltı seçeneği sunuyoruz. Kapsamlı kahvaltı açık
      büfemizin yanı sıra geniş bir yumurta ve omlet seçeneği, taze sıkılmış
      portakal suyu ve çeşitli ev yapımı tuzlu ve tatlı hamur işleri gibi farklı
      lezzetler sunuyoruz.
    </p>
  </div>

  <div class="card5">
    <div class="icon">🪴</div>
    <h2>Doğaya Saygılı Yaklaşım</h2>
    <p>
      Doğayı ve çevreyi koruma konusundaki sorumluluğumuzu biliyoruz. Su
      tasarrufunu desteklemek ve çevre dostu bir tutum sergilemek amacıyla
      otelimizin banyolarını özel olarak tasarladık. Bölgede son zamanlarda
      popüler olan jakuzi ve havuz kullanımı yerine, su kullanımı artırmayan,
      duş ve hamam kurnalı banyoları tercih ettik. Aynı zamanda çöpleri ayırarak
      geri dönüşüm süreçlerine katkıda bulunuyor ve karbon salınımını azaltmak
      için güneş enerjisi panelleri kullanıyoruz.
    </p>
  </div>
  <div class="card5">
    <div class="icon">🍵</div>
    <h2>Ev Rahatlığı Ve Hoşgeldiniz Atmosferi</h2>
    <p>
      Otelimizi seçen her bir misafirimiz için özel bir deneyim oluşturmayı
      hedefliyoruz. Diğer kurumsal otellerden farklı olarak, her ek hizmetten
      para kazanma anlayışını benimsemiyoruz. Misafirlerimize kendi evlerindeki
      rahatlığı sunabilmek için ücretsiz Wi-Fi, ücretsiz otopark, ortak
      kullanıma açık çamaşır ve kurutma makineleri, ücretsiz su, çay, kahve ve
      istediğiniz an erişebileceğiniz güvene dayalı, makul fiyatlarla sunulan
      içki odası gibi imkanları sunuyoruz. Sizleri sadece bir misafir olarak
      değil, aynı zamanda bir dost olarak ağırlamak istiyoruz.
    </p>
  </div>
</div>

{% endblock %}
