{% extends "layout.html" %}

{% load static %}

{% block content %}
<div class="kk">
    <div class="card5">
      <div class="icon">📜</div>
      <h2>Kurallar & Şartlar</h2>
      <p>
        Bölgede binlerce yıllık tarihi koruma altına almayı hedefliyoruz. Odaların
        her birini farklı bir şekilde değerlendirip orijinal mağara dokusunu
        koruyarak restore ettik. İç tasarımda eklektik ve modern tarzları
        birleştirerek canlı renkler kullanarak yenilikçi bir atmosfer yarattık.
      </p>
    </div>

  
   
  
  </div>
{% endblock %}